# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry specific files
poetry.lock

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Test outputs
coverage/
.tox/
.nox/
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS specific
.D​⬤